.bg-initiale {
    background-color: rgb(2 132 199);
}

.bg-finale {
    background-color: rgb(5 150 105);
}

.bg-livre {
    background-color: rgb(234 179 8);
}

.bg-rejet {
    background-color: rgb(190 18 60);
}