<mat-card>
    <mat-card-title>Nouveau partanaire :</mat-card-title>
    <mat-card-subtitle>Informations du partanaire.</mat-card-subtitle>
    <mat-card-content>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>Raison sociale :</mat-label>
                            <input matInput placeholder="Raison sociale" [(ngModel)]="newPart.raisonSociale" [ngModelOptions]="{standalone:true}">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>Site web (ne doit pas commencer par http ou https) :</mat-label>
                            <input matInput placeholder="Ex: www.abc.ma" [(ngModel)]="newPart.siteWeb" [ngModelOptions]="{standalone:true}">
                        </mat-form-field>
                    </div>
                    <div style="margin-bottom: 1em!important;" class=" col-md-12">
                        <mat-slide-toggle [(ngModel)]="newPart.etat" color="primary">
                            État d'affichage
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <mat-label>Déscription :</mat-label>
                    <textarea class="noborder" rows="3" matInput placeholder="Déscription" [(ngModel)]="newPart.description" [ngModelOptions]="{standalone:true}"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-secondary" role="alert">
                    <div class="row">
                        <div class="col-md-3 d-block mb-4 h-100" *ngIf="newPart.image">
                            <div class="img-wrap">
                                <span (click)="deleteImageNewPart(newPart.image)" class="close">&times;</span>
                                <img class="cover-full" style=" border-radius:10px;  box-shadow: 0.5px 0.5px 5px #555;  width: 100%;" *ngIf="newPart.image" [src]="GetImage(newPart.image)" (error)="GetErrorImage($event)">
                            </div>

                        </div>
                        <div class="col-md-3" *ngIf="!newPart.image">
                            <app-upload-multiple isMultiple="false" (onUploadFinished)="addNewPhotoPart($event)" [action]="'/Partenaires/AddPhotoPartenaires'" [filesTypes]="'image/*'">
                            </app-upload-multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button color="primary" (click)="PostPart()">Valider</button>&nbsp;
        <button mat-flat-button color="warn" (click)="InitialiserForm()">Initialiser les champs</button>
    </mat-card-actions>
</mat-card>


<mat-card class="marg-top-20">
    <mat-card-title>Liste partenaires :</mat-card-title>
    <mat-card-subtitle>Informations des partenaires.</mat-card-subtitle>
    <mat-card-content>
        <div class="row">
            <div class="col-md-12">
                <div class="content table-responsive table-full-width">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-sm row-border table-hover text-center">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Photo</th>
                                <th>Raison sociale</th>
                                <th>Description</th>
                                <th>Site web</th>
                                <th>État d'affichage</th>
                                <th>Opérations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let part of allParts">
                                <td>{{part.idPart}}</td>
                                <td>
                                    <img width="100px" style=" border-radius:10px;  box-shadow: 0.5px 0.5px 5px #555;" *ngIf="part.image" [src]="GetImage(part.image)" (error)="GetErrorImage($event)">
                                </td>
                                <td>{{part.raisonSociale}}</td>
                                <td>{{part.description}}</td>
                                <td>{{part.siteWeb}}</td>
                                <td>
                                    <mat-slide-toggle [(ngModel)]="part.etat" (ngModelChange)="upDateEtatPart(part)" color="primary"> </mat-slide-toggle>
                                </td>
                                <td>
                                    <button mat-mini-fab color="primary" (click)="remplirPart(part);openDialog()">
                                        <mat-icon>edit</mat-icon>
                                    </button>&nbsp;
                                    <button mat-mini-fab class="myDanger" (click)="DeletePart(part)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #update_part>
    <h2 matDialogTitle>Modification du partenaire:
        <button type="button" class="close" aria-label="Close" matDialogClose>
            <span aria-hidden="true">&times;</span>
        </button>
    </h2>
    <mat-dialog-content>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Raison sociale :</mat-label>
                                <input matInput placeholder="Raison sociale" [(ngModel)]="upPart.raisonSociale" [ngModelOptions]="{standalone:true}">
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Site web (ne doit pas commencer par http ou https) :</mat-label>
                                <input matInput placeholder="Ex: www.abc.ma" [(ngModel)]="upPart.siteWeb" [ngModelOptions]="{standalone:true}">
                            </mat-form-field>
                        </div>
                        <div style="margin-bottom: 1em!important;" class=" col-md-12">
                            <mat-slide-toggle [(ngModel)]="upPart.etat" color="primary">
                                État d'affichage
                            </mat-slide-toggle>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <mat-form-field appearance="outline">
                        <mat-label>Déscription :</mat-label>
                        <textarea class="noborder" rows="3" matInput placeholder="Déscription" [(ngModel)]="upPart.description" [ngModelOptions]="{standalone:true}"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col-md-3 d-block mb-4 h-100" *ngIf="upPart.image">
                                <div class="img-wrap">
                                    <span (click)="deleteImageUpPart(upPart.image)" class="close">&times;</span>
                                    <img class="cover-full" style=" border-radius:10px;  box-shadow: 0.5px 0.5px 5px #555;  width: 100%;" *ngIf="upPart.image" [src]="GetImage(upPart.image)" (error)="GetErrorImage($event)">
                                </div>

                            </div>
                            <div class="col-md-3" *ngIf="!upPart.image">
                                <app-upload-multiple isMultiple="false" (onUploadFinished)="addUpPhotoPart($event)" [action]="'/Partenaires/AddPhotoPartenaires'" [filesTypes]="'image/*'">
                                </app-upload-multiple>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button type="button" matDialogClose class="btn btn-info btn-danger">Fermer</button>
        <button mat-raised-button type="button" (click)="UpdatePart()" class="btn btn-info btn-fill">Appliquer
            les
            modifications</button>
    </mat-dialog-actions>
</ng-template>